.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100vh;
}

body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

.connect-btn-container {
  position: absolute;
  top: 24px;
  right: 24px;
}

a {
  color: #a855f7;
  font-size: 24px;
}

.demo {
  max-width: 800px;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}
