.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: rgb(var(--background-header));
}

.nav-start {
  display: flex;
  gap: 12px;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
}

.nav-start-slogan {
  @media (max-width: 800px) {
    display: none;
  }
}

.nav {
  width: 1440px;
  max-width: 100%;
  height: 36px;
  display: flex;
  margin: 22px auto;
  align-items: center;
  position: relative;
  padding: 0 16px;
  box-sizing: border-box;
}

.nav-content {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  margin-left: 40px;
  @media (max-width: 800px) {
    display: none;
  }
}

.nav-item {
  font-weight: 500;
}

.nav-item:hover {
  color: #c084fc;
}

.nav-end {
  position: absolute;
  right: 16px;
}
