.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.nav {
  width: 1440px;
  height: 36px;
  display: flex;
  margin: 22px auto;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.nav-content {
  display: flex;
  width: 800px;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.nav-item:hover {
  color: #c084fc;
}
